command script import ~/lldbinit.py

# .lldbinit ファイル内

# Pythonスクリプトをインポート
command script import ~/dotfiles/.config/lldb/lldb_fzf.py

# コマンドを登録
command script add -f lldb_fzf.fzf_select_file_from_dir fzf_dir_select

# エイリアスとキーバインドの設定
command alias -h "FZF directory file selector" -- fzfd fzf_dir_select
command key binding add -k control+d -o command -n fzfd
